.box1 {

  background-color: pink;
  border: solid black 1px;
  height: 50%;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  float: right;
  font-family: Helvetica;
}

.box2 {
  color: white;
  background-color: red;
  border: solid black 1px;
  height: 50%;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  float: right;
  font-family: Helvetica;
}

.box3 {
  /*display: inline-flex;*/
  background-color: gold;
  border: solid black 1px;
  height: 50%;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  float: right;
  font-family: Helvetica;
}

